.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.nav-items {
    list-style:none;
    display: flex;
}

.nav-logo {
    width: "60px";
}

.nav-items > li {
    padding: 10px;
}